# Exclude unnecessary files
.venv/
__pycache__/
instance/
tailwind.config.js
*.json
.pytest_cache/
input.css
output.css
db.sqlite3
node_modules/
.env
*.pdf
*.log
*.db
*.sqlite3
*.pyc
*.pyo
*.pyd
*.swp
*.DS_Store
*.egg-info/
dist/
build/
*.egg
*.whl
coverage.xml
htmlcov/
*.coverage
*.coverage
*.mypy_cache/
*.pytest_cache/
*.tox/
*.coverage.*
*.hypothesis/
*.coverage.*
*.ipynb_checkpoints/
*.vscode/
*.idea/
*.mypy_cache/
*.pytest_cache/
*.coverage.*
*_tmp.html