@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto&display=swap');


html, body {
  font-family: 'Inter', sans-serif;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
/* Prevent elements in main content from causing overflow */
* {
  box-sizing: border-box; /* Ensures padding and margin don't cause overflow */
}
.transition-max-height {
  transition: max-height 0.3s ease-in-out;
}


@media (max-width: 768px) {
  #mobileSearchContainer.show {
    display: block !important;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 50;
  }
}

/* Scrollbar styles for WebKit browsers */
#sidebar::-webkit-scrollbar {
  width: 8px;
}

#sidebar::-webkit-scrollbar-track {
  background: transparent;
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(72, 187, 120, 0.6); /* Soft green */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(72, 187, 120, 0.9);
}

/* Firefox scrollbar */
#sidebar {
  scrollbar-width: thin;
  scrollbar-color: rgba(72, 187, 120, 0.6) transparent;
}

#sidebar:hover {
  scrollbar-color: rgba(72, 187, 120, 0.9) transparent;
}


#pagination-controls {
  transition: opacity 0.3s ease-in-out;
}
#pagination-controls[hidden] {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}


/* Custom Code Block Style */
#editor pre.ql-syntax code .language-python  {
  background-color: #0f172a;
  color: #042c54;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;

}
.quill-content pre.ql-syntax {
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-x: auto;
}

.quill-content pre.ql-syntax code {
  font-family: inherit !important;
}

  /* Optional basic rich text styling */
    
  .quill-content ul,
  .quill-content ol {
    padding-left: 1.5em;
    list-style-type: disc;
  }
  


/* Customized Prism.js CSS */
code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  line-height: 1.5;
  tab-size: 4;
  background: #1e1e2f;
  color: #d4d4d4;
  padding: 1em;
  border-radius: 8px;
  overflow-x: auto;
  display: block;
}
.token.keyword {
  color: #569cd6;
  font-weight: 600;
}

.token.comment {
  color: #6a9955;
  font-style: italic;
}

.token.string {
  color: #d69d85;
}

.token.function {
  color: #c586c0;
}

.token.number {
  color: #b5cea8;
}