<!-- Second Header Navigation Bar -->
<nav class="fixed top-16 right-0 z-40 h-12 bg-gray-800 dark:bg-gray-800 shadow-sm border-b border-gray-200 dark:border-gray-700 w-full flex items-center">

    <!-- Sidebar Toggle Button (mobile & tablet only) -->
    <div class="pl-4 lg:hidden">
      <button 
        onclick="toggleSidebar()" 
        class="bg-green-600 text-white px-3 py-1 rounded shadow hover:bg-green-700 transition"
      >
        ☰ Menu
      </button>
    </div>
  
    <!-- Navigation Links -->
    <div class="flex-1 overflow-x-auto">
        <div class="flex items-center space-x-4 text-md font-2x1 whitespace-nowrap h-full pl-4 lg:pl-72 pr-4 transition-all duration-300">

        <a href="/" class="text-gray-200 dark:text-gray-200 dark:hover:text-green-600 hover:text-green-600">Home</a>
        <a href="#tutorial" class="text-gray-200 dark:text-gray-200 dark:hover:text-green-600 hover:text-green-600">Tutorials</a>
        <a href="#blog" class="text-gray-200 dark:text-gray-200 dark:hover:text-green-600 hover:text-green-600">Blog</a>
        <a href="#progress" class="text-gray-200 dark:text-gray-200 dark:hover:text-green-600 hover:text-green-600">Progress</a>
      </div>
    </div>
  </nav>
  